@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    background-color: #ebebeb;
}

body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container .content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}